body {
	margin: 0px;
    background-color: #F3F3F3;
    color: #777;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

div#app {
	margin: 8px;
}

div#howto {
    margin: 20px;
}

/* data tables */

table {
    border-collapse: collapse;
    border: 0px solid #777;
    width: 100%;
}

th, td {
    border: 1px solid #777;
    position: relative;
    padding: 1px;
	margin: 0px;
}

td.addrow {
    position: static;
	background-color: #ffa500;
	text-align: center;
	cursor: pointer;
    color: white;
    border: 1px solid #777;
}

th.tableTitle {
    border-left: 0px;
    border-top: 0px;
}

div.colorPicker {
    display: none;
    position: absolute;
    bottom:0;
    right: 0;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 0px;
    background-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
}

input[type=text].selected {
    border: 2px solid orange;
}

input[type=text].editMode, input[type=text].selected {
    cursor: pointer;
}

/* navBar */

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45818E;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* tabsMenu TODO: flexbox ? */

ul.tabsMenu {
    list-style-type: none;
    /* top | right | bottom | left */
    margin: 30 0 30 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

ul.tabsMenu li {
    float: left;
    border-right:1px solid #bbb;
    border-bottom: 2px solid #bbb;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

ul.tabsMenu li:last-child {
    border-right: none;
}

ul.tabsMenu .active {
    border-bottom: 2px solid #ffa500;
    background-color: #ffd280;
}

ul.tabsMenu li:hover {
    background-color: #ffedcc;
    cursor: pointer;
}